@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
:root {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
/* لما الجهاز يبقى Dark */
@media (prefers-color-scheme: dark) {
  :root {
    background: white;
    --text-color: #fff;
  }
}

header {
  display: flex;
  justify-content: center;
  padding: 1rem;

  .container {
    /* background-color: red; */
    width: 1269px;
    max-width: 95%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 237px;
      @media screen and (max-width: 767px) {
        width: 160px;
      }
    }
    #navMenu {
      display: flex;
      align-items: center;
      /* gap: 40px; */

      @media screen and (max-width: 767px) {
        position: absolute;
        top: 35px;
        right: 0px;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        margin-right: 10px;
        margin-top: 22px;
        display: none;
        flex-direction: column;
        gap: 10px;
        width: 150px;
      }
      a {
        font-weight: 700;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.92px;
        text-transform: uppercase;
        color: #83888f;
        @media screen and (max-width: 767px) {
          color: rgb(77, 73, 73);
        }
        &:hover {
          color: black;
        }
      }
      .glass-radio-group {
        color: #3d3d3d;
        display: flex;
        gap: 33px;
      }
    }
    #navMenu.active {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 767px) {
        .glass-radio-group {
          display: flex;
          flex-direction: column;
          background: #d1c8c02e;
          border-radius: 16px;
          backdrop-filter: blur(12px);
          overflow: hidden;
          width: 160px;
          padding: 5px;
          margin-right: 2rem;
        }

        .glass-radio-group a {
          text-decoration: none;
          color: #000000;
          /* padding: 1px; */
          text-align: center;
          font-weight: 600;
          transition: 0.3s;
        }

        .glass-radio-group a:hover {
          /* background: linear-gradient(135deg, #ffd70055, #ffcc00); */
          color: white;
        }
      }
    }

    #bar {
      display: none;
      @media screen and (max-width: 767px) {
        width: 16px;
        opacity: 1;
        display: flex;
        align-items: center;
      }
      .burger {
        position: relative;
        width: 90%;
        height: 15px;
        background: transparent;
        cursor: pointer;
        display: block;
      }

      .burger input {
        display: none;
      }

      .burger span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: black;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
      }

      .burger span:nth-of-type(1) {
        top: 0px;
        transform-origin: left center;
      }

      .burger span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
        transform-origin: left center;
      }

      .burger span:nth-of-type(3) {
        top: 100%;
        transform-origin: left center;
        transform: translateY(-100%);
      }

      .burger input:checked ~ span:nth-of-type(1) {
        transform: rotate(45deg);
        top: 0px;
        left: 5px;
      }

      .burger input:checked ~ span:nth-of-type(2) {
        width: 0%;
        opacity: 0;
      }

      .burger input:checked ~ span:nth-of-type(3) {
        transform: rotate(-45deg);
        top: 28px;
        left: 5px;
      }
    }
  }
}

.section1 {
  /* background-color: brown; */
  display: flex;
  justify-content: center;
  /* max-width: 100%; */
  margin-bottom: 140px;

  @media screen and (max-width: 767px) {
    margin-bottom: 80px;
  }

  .container1 {
    width: 1270px;
    max-width: 95%;
    /* background-color: blue; */
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(42, 41, 41, 0.411)),
      url("./images/About\ Image.png");
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    padding-left: 80px;
    border-radius: 10px;

    @media screen and (max-width: 767px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
    }

    .inner1 {
      display: flex;
      flex-direction: column;
      gap: 24px;

      h1 {
        width: 445px;
        opacity: 1;

        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0px;
        color: var(--colors-neutral-50, rgba(254, 252, 247, 1));

        @media screen and (max-width: 767px) {
          width: 303px;
          opacity: 1;
          font-family: Fraunces;
          font-weight: 900;
          font-size: 28px;
          leading-trim: NONE;
          line-height: 120%;
          letter-spacing: 0px;
          text-align: center;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        width: 445px;
        opacity: 1;
        color: var(--colors-neutral-50, rgba(254, 252, 247, 1));

        @media screen and (max-width: 767px) {
          width: 303px;
          opacity: 1;
          font-weight: 400;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 160%;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }
}

.section2 {
  width: 100%;
  /* background-color: rgb(236, 2, 2); */
  display: flex;
  justify-content: center;
  margin-bottom: 140px;

  @media screen and (max-width: 767px) {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
  }

  .container2 {
    width: 1110px;
    max-width: 95%;
    /* background-color: rgb(30, 134, 225); */
    display: flex;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 48px;
    }

    #left {
      width: 445px;
      background-image: url("./images/Bitmap.jpg");
      background-size: cover;

      @media screen and (max-width: 767px) {
        width: 100%;
        height: 400px;
        opacity: 1;
        background-image: url("./images/Bitmap.jpg");
        background-size: cover;
      }
    }
    #right {
      display: flex;
      flex-direction: column;
      padding: 90px 0px 90px 125px;
      gap: 32px;

      @media screen and (max-width: 767px) {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
      }

      h1 {
        width: 540px;
        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0px;
        color: var(--colors-neutral-900, rgba(51, 61, 75, 1));

        @media screen and (max-width: 767px) {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 28px;
          line-height: 120%;
          letter-spacing: 0px;
          text-align: center;
          width: 343px;
        }
      }
      p {
        width: 540px;
        opacity: 0.8;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        color: var(--colors-neutral-900, rgba(51, 61, 75, 1));

        @media screen and (max-width: 767px) {
          width: 343px;
          opacity: 0.8;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0px;
          text-align: center;
        }
      }
    }
  }
}
.section3 {
  width: 100%;
  /* height: 50vh; */
  /* background-color: red; */
  margin-bottom: 140px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    max-width: 100%;
    margin-top: 80px;
    margin-bottom: 50px;
  }

  .container3 {
    width: 1280px;
    max-width: 95%;
    background-color: aqua;
    display: flex;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
    padding-left: 80px;
    background-color: #2e3743;
    border-radius: 10px;
    position: relative;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0%;
      gap: 38px;
      padding-top: 50px;
      padding-bottom: 50px;
      position: relative;
    }

    .inner3 {
      width: 540px;
      max-width: 95%;
      display: flex;
      flex-direction: column;
      gap: 32px;

      @media screen and (max-width: 767px) {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0%;
      }

      h1 {
        font-family: Fraunces;
        font-weight: 900;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: 0px;
        width: 540px;
        color: var(--colors-neutral-50, rgba(254, 252, 247, 1));

        @media screen and (max-width: 767px) {
          width: 303px;
          font-family: Fraunces;
          font-weight: 900;
          font-size: 32px;
          leading-trim: NONE;
          line-height: 140%;
          letter-spacing: 0px;
          text-align: center;
        }
      }
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        letter-spacing: 0px;
        width: 540px;
        color: var(--colors-neutral-50, rgba(254, 252, 247, 1));

        @media screen and (max-width: 767px) {
          font-weight: 400;
          font-size: 16px;
          leading-trim: NONE;
          line-height: 160%;
          letter-spacing: 0px;
          text-align: center;
          width: 303px;
          opacity: 0.8;
        }
      }
    }
    #soraa {
      width: 445px;
      height: 100%;
      opacity: 1;
      background-color: blue;
      position: absolute;
      top: -5rem;
      right: 7rem;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}
.section4 {
  width: 100%;
  /* height: 60vh; */
  /* background-color: #2e3743; */
  display: flex;
  justify-content: center;
  margin-bottom: 140px;
  @media screen and (max-width: 767px) {
    margin-bottom: 80px;
  }

  .container4 {
    width: 1045px;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    gap: 64px;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    h1 {
      font-family: Fraunces;
      font-weight: 900;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0px;
      color: var(--colors-neutral-500, rgba(131, 136, 143, 1));
    }
    .inner4 {
      width: 100%;
      /* background-color: yellow; */
      display: flex;
      justify-content: space-between;
      gap: 95px;

      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .son4 {
        /* background-color: blue; */
        width: 285px;
        @media screen and (max-width: 767px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        h1 {
          font-family: Fraunces;
          font-weight: 900;
          font-size: 32px;
          line-height: 113%;
          letter-spacing: 0px;
          color: var(--colors-neutral-900, rgba(51, 61, 75, 1));
          padding-top: 40px;
          padding-bottom: 24px;
        }
        pre {
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0px;
          color: var(--colors-neutral-900, rgba(51, 61, 75, 1));
        }
      }
    }
  }
}
footer {
  /* width: 100%; */
  padding: 1rem;
  display: flex;
  justify-content: center;
  .innerf {
    width: 95%;
    /* height: 50vh; */
    background-color: #2e3743;
    padding: 48px 80px;
    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0px;
    }
    .container5 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        text-align: center;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .logo5 {
        img {
          @media screen and (max-width: 767px) {
            width: 160px;
          }
        }
      }

      .nav5 {
        display: flex;
        gap: 32px;
        @media screen and (max-width: 767px) {
          display: flex;
          align-items: center;
          text-align: center;
          flex-direction: row;
          flex-wrap: wrap;
        }
        a {
          font-weight: 700;
          font-size: 12px;
          line-height: 130%;
          letter-spacing: 0.92px;
          text-transform: uppercase;
          color: var(--colors-neutral-500, rgba(131, 136, 143, 1));
          &:hover {
            color: aliceblue;
          }

          @media screen and (max-width: 767px) {
            font-weight: 700;
            font-size: 12px;
            leading-trim: NONE;
            line-height: 130%;
            letter-spacing: 0.92px;
            text-transform: uppercase;
            text-align: center;
          }
        }
      }
    }
  }
}
